%section#about.bg-lightblue
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h1 Life can be learned
        %hr.light
        %p
          You can improve your life by seeking new knowledge. But where can you? Millions of books, websites, seminars... The paradox of choice makes it hard for you to decide where to begin. Also, many sources are scams trying to extort your money for nothing.

        %p
          We are here to help you learn life. A crowd sourced, peer-reviewed, one-stop destination for lifestyle learning.

        = join_button
