- present(@user, Users::UserPresenter) do |user|
  .container
    .row
      .col-md-12
        %h1 Course Dashboard

    .row
      .col-md-6
        %h3 Courses enrolled
        %ul.list-unstyled
          = render partial: 'users/users/dashboard/enrolled_course', collection: user.enrolled_courses
      .col-md-6
        - if user.is_a_mentor?
          %h3 Courses mentoring
          %ul.list-unstyled
            = render partial: 'users/users/dashboard/mentoring_course', collection: user.mentoring_courses

          .course_action.mt20
            = user.new_course_button

    - unless user.is_a_mentor?
      .row
        .col-md-12
          %h3 Become a mentor
          Share your knowledge with the community.
          = link_to 'Get started', mentor_app.new_mentor_path
