- present(current_course, Courses::CoursePresenter) do |course|

  %ul.nav.nav-pills.nav-stacked
    %li= link_to 'Main', course_app.course_path(course.id)
    %hr
    = render course.menus
    %hr
    %li= link_to 'Customize menus', course_app.menu_course_menus_path(course.id) if policy(current_course).update?
