= simple_form_for [current_course, current_menu, current_content, comment] do |f|
  .row
    = f.hidden_field :parent_id
    .col-md-10
      = f.input :body, label: false, input_html: { rows: 5 }
    .col-md-2
      = f.submit 'Comment', class: 'btn btn-default'
