.container
  .row
    .col-md-12
      %h1 Wanna become a mentor?

      %p
        Spread your knowledge, and influence others.

      = button_to 'Become a mentor', mentor_app.mentors_path, class: 'btn btn-sm btn-success'
