<!DOCTYPE html>
<html>
<head>
  <title>Mentors</title>
  <%= stylesheet_link_tag    "mentors/application", media: "all" %>
  <%= javascript_include_tag "mentors/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
