%footer
  .container
    .row
      .col-md-12.text-center
        %p.mb20
          &copy; LifeKlass
          = Time.zone.now.year
        .social
          = link_to "#{icon('facebook', class: 'fa-2x')}".html_safe, '#'
