.row.course.mb20
  .col-md-12
    %h4
      = link_to course.title, courses_app.course_information_path(course)
      %small= course.owner.name

    = truncate(course.description, length: 300)
    .categories.mt10
    - course.categories.each do |category|
      .label.label-info= category.name
