= simple_form_for :search, url: course_app.courses_path, method: :get, remote: true do |f|
  = f.input :title, label: false, placeholder: 'Course title'

  %h4.mb20 Categories
  = f.collection_check_boxes :categories, courses_facade.categories, :name, :name, include_hidden: false, item_wrapper_class: 'category-box'

  = f.button :submit, 'Search', data: { disable_with: 'Searching...' }
