.text-center
  %h3
    Customizing your menus

  %ul.list-unstyled
    - @course.menus.each do |menu|
      %li
        = menu.name
        = link_to 'Edit', courses_app.edit_course_menu_path(@course.id, menu.id)
